<!-- <header>
  <nav>
    <ul>
      <li><a href="#">home</a></li>
      <li><a href="#">home</a></li>
      <li><a href="#">home</a></li>
      <li><a href="#">home</a></li>
    </ul>
  </nav>
</header> -->
<header class="header">
  <div class="header-container">
    <div class="logo">
      <h1>Student ID System</h1>
    </div>

    <div class="user-actions">
      <% if (loggedin && role =="admin") { %>

      <nav class="nav-links">
        <ul>
          <ul>
            <form action="/admin/dashboard" method="GET">
              <button class="btn login-btn" type="submit">Dashboard</button>
            </form>
          </ul>

          <li>
            <form action="/admin/register" method="GET">
              <button class="btn login-btn" type="submit">Add Admin</button>
            </form>
          </li>
          <li>
            <form action="/user/register" method="GET">
              <button class="btn login-btn" type="submit">
                Student Registration
              </button>
            </form>
          </li>

          <li>
            <form action="/user/login" method="GET">
              <button class="btn login-btn" type="submit">Student Login</button>
            </form>
          </li>
        </ul>
      </nav>

      <form action="/admin/logout" method="POST">
        <button class="btn login-btn" type="submit">Admin logout</button>
      </form>

      <% } %> <% if (role=="student" && loggedin) { %>
      <form action="/user/logout" method="POST">
        <button class="btn login-btn" type="submit">Student logout</button>
      </form>
      <% }%>
    </div>

    <div>
      <% if (loggedin && role =="admin") { %>
      <form action="/admin/q">
        <input type="search" name="search" id="search" role="search" />
        <button type="submit" class="btn btn-success w-25px">🔍</button>
      </form>

      <% } %>
    </div>
  </div>
</header>
