<form action="/user/forgotpassword?_method=PATCH" method="POST">
  <h3>Reset Your Password</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      name="email"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>

  <div>
    <label for="inputPassword5" class="form-label"> New Password</label>
    <input
      type="password"
      id="inputPassword5"
      name="newpassword"
      class="form-control"
      aria-describedby="passwordHelpBlock"
    />
  </div>
  <div class="mb-3">
    <label for="answer" class="form-label"> </label>
    <p>Your Childhood BestFriends Name..</p>
    <input
      type="text"
      class="form-control"
      name="answer"
      id="answer"
      placeholder="Answer"
    />
  </div>
  <button type="submit" class="btn btn-success">Success</button>
</form>
